body {
    margin: 0;
    padding-top: 650px;
    text-align: center;
}

.profile {
    margin-top: 350px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 2px dotted darkred;
}

#Welcome {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: table;
    margin-top: 250px;
    background: linear-gradient(#01ccff 0%, #0612be 50%, rgb(0, 250, 217));
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    font-family: monospace;
}
#name{
    font-size:50px;
    font-family: 'Tapestry', cursive;
}
.welcomediv{
    display:table-cell;
    vertical-align: middle;

}
#bio{
    font-family: 'Tapestry', cursive;
    padding:50px;
}
.line{
    width: 70px;
    height: 6px;
    background-color: aquamarine;
    margin: 8px auto;

}
.menu{
    list-style: none;
    position: fixed;
    top:0px;
    width:100%;
    margin-top:0px;
    background:white;
    z-index: 10;
    cursor: grab;
}
.links{
    display:inline;
    padding:5px 9px;
    font-size: 22px;
    font-family: 'Mukta', sans-serif;
    font-weight:bold;
}
.links:hover{background-color: rgb(173, 245, 245);}
.contact1 h3{
    display:inline
}
#writing a{
    text-decoration: none !important;
    font-size:25px; 
    color:darkcyan;
}